#dashboard {
    width: 80%;
    margin: 0 auto;
}

.type-container {
    margin-bottom: 20px;
}

.type-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.application {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.application-name,
.application-year,
.application-year-of-experience {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.application-name label,
.application-year label,
.application-year-of-experience label {
    width: 100px;
    font-weight: bold;
}
